# Created by http://www.gitignore.io
*.generated.swift
### Xcode ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
Pods/**
# Pod
./Pods
Pods
Pods/*
Pods/
Noor.xcworkspace
Noor.xcodeproj/xcuserdata/*
Noor.xcodeproj/project.xcworkspace/xcuserdata/*
# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
.rbx/
xcuserdata
DerivedData
/concatenated.*
*.xcuserstate